includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 7
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - tests/Bootstrap.php
